
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    /* background: linear-gradient(to left , #0d324d,#7f5a83); */
    background: linear-gradient(to left , #000428,#004e92);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #111;
    width: 100%;

}
header .logo{
    float: left;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

header nav{
    float: right;
}
header nav.active{
    left: 0;
    
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    position: relative;
}
/* THIS IS FOR ON CLICK DROPDOWN MENU */
/* ------------------------------------------------------------------------ */
/* header nav ul li .submenu:before{
    content: '\f0d7';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 5px;
} */
/* header nav ul li .active.submenu:before{
    content: '\f0d8';
} */
header nav ul li ul{
    position: absolute;
    left:0;
    background: #333;
    display: none;
}
header nav ul li:hover ul{
   display: block;
}
header nav ul li ul li{
    display: block;
    width: 200px;
    
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding:  1px 30px;
    text-decoration: none;
    color: #fff;
    display: block;
}
header nav ul li a:hover{
    color: teal;
    background-color: rgb(253, 253, 253);
   
}
header nav ul li a.active{
    color:teal;
    background: rgb(253, 253, 253);
    
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}



main{
    margin-top: 150px;
}
 
.intro{
    
    width: 100%;
    height: 500px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 55%;
}

.intro h2{
    font-size: 40px;
    font-weight: bold;
    /* color: teal; */
    color:white;
    text-align: center;
    padding-top:200px;
}
.intro p{
    line-height: normal;
    color:white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom:20px ;
}


@media(max-width:991px)
{
   header{
       padding: 0 20px;
   }
   .menu-toggle{
       display: block;
   }
   header nav{ 
       position: absolute;
       width: 100%;
       height: calc(100vh- 103px);
       background: #333;
       top: 103px;
       left: -100%;
       transition: .5s;
   }
   header nav ul{
       display: block;
       text-align: center;
   }
   header nav ul li a{
       border-bottom: 1px solid teal;
   }
   header nav ul li:hover ul{
       position: relative;
       background: rgb(74, 173, 173);
   }
   header nav ul li ul li {
       width: 100%;
   }

   main{
       margin-top: 150px;
   }

   .intro{
       width: 100%;
       margin-top: 115%;
       padding-left: 20px;
       padding-right: 20px;
       
   }
   .intro p{
       width: 100%;
   }
}