*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow{
    width: 70%;
    height: 500px;
   /* display: flex;
   align-items: center;
   justify-content: center;*/
   background-image: url(ImmerssionHeters.png);
   margin-top: 20px;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border: 20px;
   /* box-shadow: 2px 2px 10px 5px black; */
   background-color: rgb(126, 15, 136);
   background-size: cover;
   animation: slider 10s infinite linear;
  
}

@keyframes slider{
    0%{
        background-image: url(ceramicband.png);
        background-size: 100% 100%;
    }

    20%{
        background-image: url(highdensityheater.png);
        background-size: 100% 100%;
    }
    40%{
        background-image: url(Manifoldheater.png);
        background-size: 100% 100%;
    }
        
    60%{
        background-image: url(MicaBand.png);
        background-size: 100% 100%;
    }
        
    80%{
        background-image: url(LowdensityHeatrer.png);
        background-size: 100% 100%;
    }
}

@media(max-width:991px){
    .slideshow{
        width: 90%;
        margin-top: 20px;
    }
}